@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
  margin-bottom: 15px;
}

.header-lista {
  list-style: none;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 10px;
}

.header-container-bottom {
  background-color: #f0a83e;
  padding-top:20px;
  
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.texto-logo-top {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 20px;
}

/* main */

.bienvenida {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.foto-fondo{
  background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
  background-size:contain;
  width:100%;
  height:600px;
}

.texto-en-foto{
  font-size: 20px;
  color: #3C2313;
  position: relative;
  text-align: center;
  padding-top: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.texto-en-foto2{
  color: #ffffff;
  background-color:#F0A83E;
  position: relative;
  font-size: 20px;
  margin-left: 680px;
  margin-top: 15px;
  text-align: center;
  width: max-content;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

/* body */

.productos{
  font-weight: bold;
  padding-top:40px;
  padding-bottom: 30px;
  text-align: left;
  font-size: 40px;
}

.precio{
  color:#F0A83E;
  padding-top: 15px;
}

/* prefooter */

.prefooter{
  position: relative;
  width: 100% ;
  height: 520px ;
  background-color: #3C2313;
}

.foto1{
  position: relative;
  right: 1090px;
  top: 90px;
  height: 80px;
}

.titulo1{
  position: relative;
  font-weight: bold;
  font-size:40px ;
  left: 223px;
  color: white;
  top: 50px;
}
.subtitulo1{
  position: relative;
  font-size: 20px;
  color: white;
  left: 47px;
  top: 90px;
}

.foto2{
  position: relative;
  right: 1175px;
  top: 240px;
  height:80px;
}

.titulo2{
  position: relative;
  font-weight: bold;
  font-size:40px ;
  color: white;
  top: 200px;
  right: 100px;
  
}

.subtitulo2{
  position: relative;
  font-size: 20px;
  color: white;
  right: 265px;
  top: 240px;
}

.foto3{
  position: relative;
  right: 1258px;
  top:390px;
  height:80px;
}

.titulo3{
  position: relative;
  font-weight: bold;
  font-size:40px ;
  color: white;
  top: 350px;
  right: 448px;
  
}

.subtitulo3{
  position: relative;
  font-size: 20px;
  color: white;
  right: 789px;
  top: 390px;
}

/* logo */

.logo2{
  position: absolute;
  font-weight: bold;
  color:#F0A83E;
  font-size: 40px;
  top: 265px;
  left:1000px ;
}

.texto-logo-bottom{
  color: white;
}
.foto-gato{
  width: 35px;
  height: 35px;
}

